<p id="notice"><%= notice %></p>

<%= form_tag(poem_fill_path(@poem)) do |f| %>
  <table cellpadding="3">
    <thead><th>#</th><th>Description</th><th>Your Word</th></thead>
    <tbody>
    <% @poem.prompts.keys.each_with_index do |old_word, index| %>
      <tr>
        <td align="right"><%= index + 1 %></td>
        <td><%= @poem.prompts[old_word] %></td>
        <td><%= text_field :responses, old_word, size: 20 %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= submit_tag "Submit" %>
<% end %>

<%= link_to 'Back', poems_path %>
