<!DOCTYPE html>
<html>
<head>
  <title>Gruttypeen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 class="site-title">Vogon Poetry Generator</h1>
<h4>by <%= link_to "Dave Aronson", "http://www.davearonson.com", target: "_new" %></h4>

<div class="centered">
  <%= yield %>
  <p><%= link_to_unless_current "Home", root_path %></p>
</div>

</body>
</html>
