<!DOCTYPE html>
<html>
<head>
  <title>Gruttypeen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<p><%= link_to_unless_current "Home", root_path %></p>

</body>
</html>
