<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0, user-scalable=yes, width=device-width">
  <title>Gruttypeen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 class="site-title">Vogon Poetry Generator</h1>
<h4>by <%= link_to "Dave Aronson", "http://www.davearonson.com", target: "_new" %></h4>

<div class="centered">
  <%= yield %>
  <% unless current_page?(root_path) %>
    <p><%= link_to "Home", root_path %></p>
  <% end %>
</div>

</body>
</html>
